.DS_Store

fatiador/node_modules/

transcrever-violao/.venv/
transcrever-violao/node_modules/

downloads/
*.m4a

vozes/*.wav
vozes/*.mp3
vozes/*.flac
vozes/*.m4a
vozes/stems/
vozes/**/*.log
vozes/stefano/
vozes/a-flor-da-pele/

.code-to-podcast/
.squadagent/
